<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926776724214-8qp0l1689quipqgmjfhcg4u2mt7v0tmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926776724214-8qp0l1689quipqgmjfhcg4u2mt7v0tmj</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Bcd_GYzcH0Eq5hc6GJOG9mAjUF5BDP8</string>
	<key>GCM_SENDER_ID</key>
	<string>926776724214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.saliba.myapp</string>
	<key>PROJECT_ID</key>
	<string>ws-tripsplus</string>
	<key>STORAGE_BUCKET</key>
	<string>ws-tripsplus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926776724214:ios:01b37b95b29f13b7067ad7</string>
</dict>
</plist>